*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

button {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}

strong {
  font-weight: bold;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: Inter, Roboto, 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}